/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.info {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.info__img {
  width: 100%;
}
.info__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .info {
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.main__add-input, .main__task-input, .main__task-text {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}
.main__add-wrapper {
  display: flex;
}
.main__todo-list, .main__completed-list {
  margin: 0;
  padding: 0px;
}
.main__task, .main__heading {
  list-style: none;
}
.main__add-input,.main__add-btn,.main__edit-btn {
  outline: none;
}
.main__add-btn, .main__edit-btn,.main__delete-btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.main__add-btn:hover,.main__edit-btn:hover {
  color: #3a3a3a;
}
/* Heading */
.main__add-label, .main__heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.main__add-input, .main__task-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.main__add-input:focus, .main__task-input:focus {
  color: #333;
}

/* New Task */
.main__add-label {
  display: block;
  margin: 0 0 20px;
}
.main__add-input {
  width: 318px;
}

/* Task list */
.main__task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__task-input {
  display: none;
  width: 226px
}
.main__task-check {
  margin: 0 10px;
}
.main__task-text {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.main__delete-btn-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.main__delete-btn-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.main__completed-list .main__task-text {
  text-decoration: line-through
  color: #888;
}

/* Edit Task */
.main__edit-mode > .main__task-text {
  display: none
}
.main__edit-mode > .main__task-input {
  display: inline-block;
  width: 224px
}